<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>12602.2.14.0.7</string>
	<key>CFBundleDisplayName</key>
	<string>Picture-In-Picture</string>
	<key>CFBundleIdentifier</key>
	<string>com.romanroibu.safariExtension.PictureInPicture</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>script/facebook.js</string>
				<string>script/shared.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>style/facebook.css</string>
		</array>
	</dict>
	<key>DeveloperIdentifier</key>
	<string>99DC555NUS</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.facebook.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
